* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
}

.dark-mode {
    background: #13111C; /* Obsidian dark mode */
    /* https://mypalettetool.com/blog/dark-mode-color-palettes */
}

.containter {
    flex-direction: column;
}

#ui button {
    height: 100%;
}

#ui button img {
    height: 100%;
}

#ui div {
    color: #f0f0f0;
    text-align: center;
}

#control {
    /* beginning; back; power/reset; play/pause; forward one; frame count*/
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-auto-rows: 23px;
    max-width: 100%;
}

#sliders {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-auto-rows: 23px;
}